main {
    padding-top: 100px;
}

.regis-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-top: 150px;
    margin-bottom: 200px;
}

.form-container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border: 2px solid black;
    box-shadow: 10px 25px 28px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.regis-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    position: relative;
}

.fill-out {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 40px;
}

.user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 10px 0;
}

.input-box {
    margin-bottom: 15px;
}

.details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.regis-button {
    height: 35px;
    margin: 35px 0;
}

.regis-button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: black;
    background: #90bdd1;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.regis-button input:hover {
    border: 1px solid black;
}


@media (width >= 374px) {
    .card-info .container {
        transform: translateY(-4rem) scaleY(0.7) ;
    }

    .card-info .container p{
        font-size: 18px !important;
    }


    .regis-form {
     transform: scale(0.8) translateY(-10rem);
 }
 }

@media (width >= 767px) {
     .card-info .container {
         transform: translateY(6rem) scaleY(1) ;
     }
    .card-content {
    transform:  translateY(0rem);
    }
    .card-content p {
     transform: scale(1) translateY(0rem);
    }
    .regis-form {
     transform: scaleX(0.9) translateY(0rem);
}

@media (width >= 766px) {
     .card-info .container {
         transform: translateY(0rem) scaleY(1) ;
     }

    }
  @media (width >= 975px) {
     .card-info .container {
         transform: translateY(0rem) scaleY(1) ;
     }
    .card-content {
    transform:  translateY(0rem);
    }
    .card-content p {
     transform: scale(1) translateY(0rem);
    }
    .regis-form {
     transform: scale(1) translateY(0rem);
    }
 }
}